watchdog
Pillow
#autocrop
#python-opencv
# pdf2image

# python-magic
# python-magic
pdf2image
###python-magic-bin
#必須: brew install libmagic
# for win::: python-magic-bin
# -------- https://github.com/julian-r/python-magic